h1 {
    text-align: center;
    font-family: "Source Sans Pro", Titillium;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-family: "Source Sans Pro", Titillium;
    font-weight: bold;
}


label {
    text-align: left;
    font-family: "Source Sans Pro", Titillium;
    font-weight: bold;
    color:red;
}

button {
    text-align: center;
    font-family: "Source Sans Pro", Titillium;
    font-weight: bold;
    margin: auto;
    display: block;
    color: red;
}